$background-sombre: #343232;
$background-clair: #aaaaa9;
$gris: #585454;
$rose: #d60040;
$rouge-clair: #be1622;
$rouge-sombre: #5F0D05;
$vert-clair: #009933;
$vert-sombre: #00491A;
$text-clair: #ffffff;
$text-sombre: #343232;
$ombre: rgba(0, 0, 0, 0.6);
$background-modal: rgba(52,50,49, 0.75);