@use "../../styles/modules/colors";

.divResponsable1{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p{
    margin: 0 0 5px 0;
  }
}

.divResponsable2{
  width: 50%;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p{
    margin: 0;
  }
}

.ulResponsables{
  min-height: 110px;
  width: 46vw;
  min-width: 300px;
  background-color: colors.$rose;
  padding: 13px 0;
  border-radius: 30px;
  box-shadow: inset 0 0 18px colors.$ombre;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;

  li{
    list-style-type:none;
    background-color: colors.$background-sombre;
    color: colors.$text-clair;
    width: 95%;
    padding: 13px 0;
    border-radius: 25px;
    margin: 4px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 5px colors.$ombre;

    h4{
      margin: 7px 0 0 0;
      font-weight: 500;
    }
    p{
      font-weight: 300;
      text-align: start;
      font-size: 0.95em;
    }

    button{
      background-color: colors.$gris;
      border-radius: 15px;
      margin: 0;
      padding: 8px 5px 5px 5px;
      border: 0;
      box-shadow: 2px 2px 6px colors.$ombre;
      transition: 300ms;
    }

    button:hover{
      box-shadow: 0 0 18px colors.$ombre;
      transition: 300ms;
    }
  }
}

@media screen and (max-width: 1500px) {
  .ulResponsables{
    width: 70vw;
  }
}

@media screen and (max-width: 1000px) {
  .ulResponsables{
    width: 80vw;
  }
}

@media screen and (max-width: 700px) {
  .ulResponsables{
    width: 90vw;
  }
}


@media screen and (min-width: 2000px) {
  .ulResponsables{
    width: 30vw;
  }
}

